@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text-primary: 9 9 11;
		--bg-foundation: 250 250 250;
		--bg-inverse: 9 9 11;
	}

	html {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		@apply bg-ds-bg-foundation text-ds-text-primary font-sans;
	}

	*:focus:not(:focus-visible) {
		@apply !outline-none;
	}
}
